body
{
margin:0px;
padding:0px;
display:none;
}
#top,#middle,#bottom
{
width:100%;
height:1000px;
}
#top
{
background-color:green;
}
#middle
{
background-color:white;
}
#bottom
{
background-color:orange;
}